<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tsubik.ionicgeofence" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="GeofencePlugin">
        <param name="wp-package" value="GeofencePlugin" />
    </feature>
    <name>ionic-geofence</name>
    <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="tsubik@gmail.com" href="http://tsubik.com/">
      Tomasz Subik
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
     <plugin name="cordova-plugin-geolocation" spec="~2.1.0"/>
  
  <plugin name="cordova-plugin-geofence" spec="https://github.com/cowbell/cordova-plugin-geofence.git"/>
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.VIBRATE" />
     </plugin>
    
  <plugin name="cordova-plugin-geofence-test" spec="https://github.com/cowbell/cordova-plugin-geofence.git#:/tests"/>
  <plugin name="cordova-plugin-test-framework" spec="~1.1.1"/>
  <plugin name="cordova-plugin-device" spec="~1.1.1"/>
  <plugin name="cordova-plugin-console" spec="~1.0.2"/>
  <plugin name="cordova-plugin-whitelist" spec="~1.2.1"/>
  <plugin name="cordova-plugin-splashscreen" spec="~3.1.0"/>
  <plugin name="cordova-plugin-statusbar" spec="~2.1.0"/>
<plugin name="ionic-plugin-keyboard" spec="~1.0.8"/>
</widget>
